.homepage {
  &_banner {
    padding: 50px;
    &-content {
      max-width: 50%;
      h1 {
        font-size: 4em;
        color: var(--primary-3);
        font-weight: 700;
        text-transform: uppercase;
      }
      p {
        max-width: 80%;
        font-size: 1.6em;
        font-weight: 500;
        line-height: 2;
        padding: 30px 0 30px 0;
      }
    }
    &-img {
      max-width: 50%;
      animation: roundIcon 5s infinite;
    }
  }
  &_info {
    &-header {
      font-size: 3.6em;
      font-weight: 700;
      color: var(--primary-3);
      letter-spacing: 2px;
      span {
        color: var(--primary-1);
      }
    }
    &-content {
      padding: 20px 0 40px 0;
      font-size: 1.6em;
      font-weight: 600;
      line-height: 2;
      max-width: 50%;
      text-align: center;
    }
    &-components {
      padding: 10px;
      > div > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--primary-1);
        height: 100%;
        padding: 20px;
        border-radius: 30px;
        img {
          width: 100px;
        }
        h5 {
          color: var(--primary-3);
          padding-top: 10px;
          font-size: 3em;
          font-weight: 600;
          letter-spacing: 2px;
        }
        p {
          font-size: 1.6em;
          font-weight: 500;
          line-height: 2;
          padding-top: 20px;
          text-align: center;
        }
      }
    }
  }
  &_goals {
    padding: 50px;
    > h1 {
      font-size: 3.6em;
      font-weight: 700;
      text-transform: uppercase;
      max-width: 370px;
      line-height: 70px;
      color: #009edb;
      letter-spacing: 2px;
      margin-right: 40px;
    }
    &-body {
      position: relative;
      &-background {
        width: 100%;
        filter: blur(3px);
      }
      &-3 {
        width: 300px;
        position: absolute;
        top: 45px;
        left: 100px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          scale: 1.1;
        }
      }
      &-11 {
        width: 300px;
        position: absolute;
        top: 45px;
        right: 100px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          scale: 1.1;
        }
      }
    }
  }
}
@keyframes roundIcon {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
